name: Smoke End-to-end tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run (Smoke)
        uses: cypress-io/github-action@v6
        with:
          command: npx cypress run --env grepTags=@smoke
